:root {
  --charcoal: #323337;

  --bonta-charcoal: #1B1E21;

  --bonta-blue: #061219;
  --bonta-blue-20: #0C2433;
  --bonta-blue-30: #12364C;
  --bonta-blue-40: #184966;
  --bonta-blue-50: #1E5B7F;
  --bonta-blue-60: #246E99;
  --bonta-blue-70: #2A80B2;
  --bonta-blue-80: #3093CC;
  --bonta-blue-90: #37A8E5;
  --bonta-blue-100: #3FBCFF;
  
  --error-10: #190005;
  --error-20: #33000A;
  --error-30: #4C000F;
  --error-40: #660014;
  --error-50: #7F0019;
  --error-60: #99001E;
  --error-70: #B20023;
  --error-80: #CC0028;
  --error-90: #E5002D;
  --error: #FF0033;

  --highlight-orange: #190900;
  --highlight-orange-20: #331300;
  --highlight-orange-30: #4C1E00;
  --highlight-orange-40: #662A00;
  --highlight-orange-50: #7F3500;
  --highlight-orange-60: #994200;
  --highlight-orange-70: #B25000;
  --highlight-orange-80: #CC5F00;
  --highlight-orange-90: #E56B00;
  --highlight-orange-100: #FF7B00;
}