:root {
  --charcoal: #323337;

  --bonta-charcoal: #1B1E21;

  --bonta-blue: #061219;
  --bonta-blue-20: #0C2433;
  --bonta-blue-30: #12364C;
  --bonta-blue-40: #184966;
  --bonta-blue-50: #1E5B7F;
  --bonta-blue-60: #246E99;
  --bonta-blue-70: #2A80B2;
  --bonta-blue-80: #3093CC;
  --bonta-blue-90: #37A8E5;
  --bonta-blue-100: #3FBCFF;
}