:root {
  --amakna-primary-10: hsl(33, 96%, 10%);
  --amakna-primary-20: hsl(33, 96%, 20%);
  --amakna-primary-30: hsl(33, 96%, 30%);
  --amakna-primary-40: hsl(33, 96%, 40%);
  --amakna-primary-50: hsl(33, 96%, 50%);
  --amakna-primary-60: hsl(33, 96%, 60%);
  --amakna-primary-70: hsl(33, 96%, 70%);
  --amakna-primary-80: hsl(33, 96%, 80%);
  --amakna-primary-90: hsl(33, 96%, 90%);

  --amakna-secondary-10: hsl(62, 96%, 10%);
  --amakna-secondary-20: hsl(62, 96%, 20%);
  --amakna-secondary-30: hsl(62, 96%, 30%);
  --amakna-secondary-40: hsl(62, 96%, 40%);
  --amakna-secondary-50: hsl(62, 96%, 50%);
  --amakna-secondary-60: hsl(62, 96%, 60%);
  --amakna-secondary-70: hsl(62, 96%, 70%);
  --amakna-secondary-80: hsl(62, 96%, 80%);
  --amakna-secondary-90: hsl(62, 96%, 90%);

  --amakna-background-10: hsl(24, 10%, 10%);
  --amakna-background-20: hsl(24, 10%, 20%);
  --amakna-background-30: hsl(24, 10%, 30%);
  --amakna-background-40: hsl(24, 10%, 40%);
  --amakna-background-50: hsl(24, 10%, 50%);
  --amakna-background-60: hsl(24, 10%, 60%);
  --amakna-background-70: hsl(24, 10%, 70%);
  --amakna-background-80: hsl(24, 10%, 80%);
  --amakna-background-90: hsl(24, 10%, 90%);

  --amakna-highlight-10: hsl(45, 69%, 10%);
  --amakna-highlight-20: hsl(45, 69%, 20%);
  --amakna-highlight-30: hsl(45, 69%, 30%);
  --amakna-highlight-40: hsl(45, 69%, 40%);
  --amakna-highlight-50: hsl(45, 69%, 50%);
  --amakna-highlight-60: hsl(45, 69%, 60%);
  --amakna-highlight-70: hsl(45, 69%, 70%);
  --amakna-highlight-80: hsl(45, 69%, 80%);
  --amakna-highlight-90: hsl(45, 69%, 90%);
}