:root {
  --bonta-primary-10: hsl(186, 60%, 10%);
  --bonta-primary-20: hsl(186, 60%, 20%);
  --bonta-primary-30: hsl(186, 60%, 30%);
  --bonta-primary-40: hsl(186, 60%, 40%);
  --bonta-primary-50: hsl(186, 60%, 50%);
  --bonta-primary-60: hsl(186, 60%, 60%);
  --bonta-primary-70: hsl(186, 60%, 70%);
  --bonta-primary-80: hsl(186, 60%, 80%);
  --bonta-primary-90: hsl(186, 60%, 90%);

  --bonta-secondary-10: hsl(73, 64%, 10%);
  --bonta-secondary-20: hsl(73, 64%, 20%);
  --bonta-secondary-30: hsl(73, 64%, 30%);
  --bonta-secondary-40: hsl(73, 64%, 40%);
  --bonta-secondary-50: hsl(73, 64%, 50%);
  --bonta-secondary-60: hsl(73, 64%, 60%);
  --bonta-secondary-70: hsl(73, 64%, 70%);
  --bonta-secondary-80: hsl(73, 64%, 80%);
  --bonta-secondary-90: hsl(73, 64%, 90%);

  --bonta-background-10: hsl(206, 15%, 10%);
  --bonta-background-20: hsl(206, 15%, 20%);
  --bonta-background-30: hsl(206, 15%, 30%);
  --bonta-background-40: hsl(206, 15%, 40%);
  --bonta-background-50: hsl(206, 15%, 50%);
  --bonta-background-60: hsl(206, 15%, 60%);
  --bonta-background-70: hsl(206, 15%, 70%);
  --bonta-background-80: hsl(206, 15%, 80%);
  --bonta-background-90: hsl(206, 15%, 90%);

  --bonta-highlight-10: hsl(70, 20%, 10%);
  --bonta-highlight-20: hsl(70, 20%, 20%);
  --bonta-highlight-30: hsl(70, 20%, 30%);
  --bonta-highlight-40: hsl(70, 20%, 40%);
  --bonta-highlight-50: hsl(70, 20%, 50%);
  --bonta-highlight-60: hsl(70, 20%, 60%);
  --bonta-highlight-70: hsl(70, 20%, 70%);
  --bonta-highlight-80: hsl(70, 20%, 80%);
  --bonta-highlight-90: hsl(70, 20%, 90%);
}