:root {
  --brakmar-primary-10: hsl(5, 89%, 10%);
  --brakmar-primary-20: hsl(5, 89%, 20%);
  --brakmar-primary-30: hsl(5, 89%, 30%);
  --brakmar-primary-40: hsl(5, 89%, 40%);
  --brakmar-primary-50: hsl(5, 89%, 50%);
  --brakmar-primary-60: hsl(5, 89%, 60%);
  --brakmar-primary-70: hsl(5, 89%, 70%);
  --brakmar-primary-80: hsl(5, 89%, 80%);
  --brakmar-primary-90: hsl(5, 89%, 90%);

  --brakmar-secondary-10: hsl(62, 47%, 10%);
  --brakmar-secondary-20: hsl(62, 47%, 20%);
  --brakmar-secondary-30: hsl(62, 47%, 30%);
  --brakmar-secondary-40: hsl(62, 47%, 40%);
  --brakmar-secondary-50: hsl(62, 47%, 50%);
  --brakmar-secondary-60: hsl(62, 47%, 60%);
  --brakmar-secondary-70: hsl(62, 47%, 70%);
  --brakmar-secondary-80: hsl(62, 47%, 80%);
  --brakmar-secondary-90: hsl(62, 47%, 90%);

  --brakmar-background-10: hsl(60, 5%, 10%);
  --brakmar-background-20: hsl(60, 5%, 20%);
  --brakmar-background-30: hsl(60, 5%, 30%);
  --brakmar-background-40: hsl(60, 5%, 40%);
  --brakmar-background-50: hsl(60, 5%, 50%);
  --brakmar-background-60: hsl(60, 5%, 60%);
  --brakmar-background-70: hsl(60, 5%, 70%);
  --brakmar-background-80: hsl(60, 5%, 80%);
  --brakmar-background-90: hsl(60, 5%, 90%);

  --brakmar-highlight-10: hsl(28, 96%, 10%);
  --brakmar-highlight-20: hsl(28, 96%, 20%);
  --brakmar-highlight-30: hsl(28, 96%, 30%);
  --brakmar-highlight-40: hsl(28, 96%, 40%);
  --brakmar-highlight-50: hsl(28, 96%, 50%);
  --brakmar-highlight-60: hsl(28, 96%, 60%);
  --brakmar-highlight-70: hsl(28, 96%, 70%);
  --brakmar-highlight-80: hsl(28, 96%, 80%);
  --brakmar-highlight-90: hsl(28, 96%, 90%);
}