:root {
  --sufokia-primary-10: hsl(309, 56%, 10%);
  --sufokia-primary-20: hsl(309, 56%, 20%);
  --sufokia-primary-30: hsl(309, 56%, 30%);
  --sufokia-primary-40: hsl(309, 56%, 40%);
  --sufokia-primary-50: hsl(309, 56%, 50%);
  --sufokia-primary-60: hsl(309, 56%, 60%);
  --sufokia-primary-70: hsl(309, 56%, 70%);
  --sufokia-primary-80: hsl(309, 56%, 80%);
  --sufokia-primary-90: hsl(309, 56%, 90%);

  --sufokia-secondary-10: hsl(28, 85%, 10%);
  --sufokia-secondary-20: hsl(28, 85%, 20%);
  --sufokia-secondary-30: hsl(28, 85%, 30%);
  --sufokia-secondary-40: hsl(28, 85%, 40%);
  --sufokia-secondary-50: hsl(28, 85%, 50%);
  --sufokia-secondary-60: hsl(28, 85%, 60%);
  --sufokia-secondary-70: hsl(28, 85%, 70%);
  --sufokia-secondary-80: hsl(28, 85%, 80%);
  --sufokia-secondary-90: hsl(28, 85%, 90%);

  --sufokia-background-10: hsl(222, 24%, 10%);
  --sufokia-background-20: hsl(222, 24%, 20%);
  --sufokia-background-30: hsl(222, 24%, 30%);
  --sufokia-background-40: hsl(222, 24%, 40%);
  --sufokia-background-50: hsl(222, 24%, 50%);
  --sufokia-background-60: hsl(222, 24%, 60%);
  --sufokia-background-70: hsl(222, 24%, 70%);
  --sufokia-background-80: hsl(222, 24%, 80%);
  --sufokia-background-90: hsl(222, 24%, 90%);

  --sufokia-highlight-10: hsl(186, 92%, 10%);
  --sufokia-highlight-20: hsl(186, 92%, 20%);
  --sufokia-highlight-30: hsl(186, 92%, 30%);
  --sufokia-highlight-40: hsl(186, 92%, 40%);
  --sufokia-highlight-50: hsl(186, 92%, 50%);
  --sufokia-highlight-60: hsl(186, 92%, 60%);
  --sufokia-highlight-70: hsl(186, 92%, 70%);
  --sufokia-highlight-80: hsl(186, 92%, 80%);
  --sufokia-highlight-90: hsl(186, 92%, 90%);
}