body {
    margin: 0 !important;
    background-color: var(--bonta-charcoal);
    overflow-y: hidden;
}

.p-button {
    background-color: var(--bonta-blue-100);

    &:hover {
        background-color: var(--bonta-blue-80);
    }
}

.p-slider-handle {
    background-color: var(--bonta-blue-100);
}

.p-slider-range {
    background-color: var(--bonta-blue-100);
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
}

.simple-tooltip {
    background-color: var(--bonta-blue);
    color: white;
    border-radius: 8px;
    padding: 4px 6px;
}

.item-card-tooltip {
    background-color: var(--bonta-blue);
    border-radius: 4px;
    border: 1px solid var(--bonta-blue-70);
    overflow: hidden;
  
    .effect-header {
      background: var(--bonta-blue-30);
    }
}