body {
    margin: 0 !important;
    background-color: var(--bonta-charcoal);
    overflow-y: hidden;
}

.p-button {
    background-color: var(--bonta-blue-100);

    &:hover {
        background-color: var(--bonta-blue-80);
    }
}

.p-slider-handle {
    background-color: var(--bonta-blue-100);
}

.p-slider-range {
    background-color: var(--bonta-blue-100);
}

.truncate {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: hidden;
}

.simple-tooltip {
    background-color: var(--bonta-blue);
    color: white;
    border-radius: 8px;
    padding: 4px 6px;
    border: 1px solid var(--bonta-blue-100);
}

.item-card-tooltip {
    background-color: var(--bonta-blue);
    border-radius: 4px;
    border: 1px solid var(--bonta-blue-70);
    overflow: hidden;
  
    .effect-header {
      background: var(--bonta-blue-30);
    }
}

.p-dialog.p-component {
    .p-dialog-header {
        overflow: hidden;
        padding: 0;
    }

    .p-dialog-content {
        padding: 0;
    }

    .drag-bar {
        width: 100%;
        background-color: var(--bonta-blue-100);
        height: 16px;
    }

    &:has(.drag-bar) {
        .p-dialog-header-icons {
            display: none;
        }
    }
}

.p-confirm-popup {
    background-color: var(--bonta-blue-40);
    border: 1px solid var(--bonta-blue-100);

    &:before {
        border-bottom-color: var(--bonta-blue-100);
    }

    &:after {
        border-bottom-color: var(--bonta-blue-100);
    }

    .p-confirm-popup-content {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 6px 4px;
        max-width: 250px;
    
        .p-confirm-popup-message {
            margin: 0;
        }
    }
    
    .p-confirm-popup-footer {
        display: flex;
        justify-content: space-between;
        padding: 0;

        .p-confirm-dialog-reject {
            padding: 4px 0px;
            margin: 6px 6px;
            color: black;
        }

        .p-confirm-dialog-accept {
            padding: 4px 0px;
            margin: 6px 6px;
            color: black;
        }
    }
}

.p-tabview-nav-link.p-tabview-header-action {
    padding: 0;
    height: 100%;
}

.p-dropdown-items {
    .p-dropdown-item {
        padding: 0;
    }
}

.ak-container {
    .ak-list-element {
        .ak-main {
            .ak-main-content {
                display: flex;
                flex-direction: column;

                .ak-content {
                    background: var(--bonta-blue-50);

                    &:not(:has(.ak-title)) {
                        height: 6px;
                    }

                    .ak-title {
                        display: flex;
                        align-items: center;
                        padding: 4px 6px;
                        background: var(--bonta-blue-20);
                        white-space: nowrap;

                        .picto:has(img) {
                            width: 24px;
                            height: 16px;

                            img {
                                padding: 0px 4px;
                                width: 24px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}


.spell-tooltip {
    border-radius: 8px;
    border: 1px solid var(--bonta-blue-100);
    overflow: hidden;
    width: fit-content;

    .spell-name {
        background-color: var(--bonta-blue);
    }

    .spell-description {
        background-color: var(--bonta-blue);
        border-bottom: 1px solid var(--bonta-blue-100);
    }

    .spell-details {
        p {
            display: flex;
            align-items: center;
            margin: 0px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            background-color: var(--bonta-blue-30);
        }
    
        ul {
            margin: 0;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 30px;
            background-color: var(--bonta-blue-50);

            li {
                padding-top: 1px;
                padding-bottom: 1px;

                img {
                    margin-bottom: -2px;
                }
            }
        }

        img {
            margin-left: 3px;
            margin-right: 3px;
            width: 16px;
            height: 16px;
        }
    }
}

