body {
    margin: 0 !important;
    background-color: var(--bonta-charcoal);
}

.p-button {
    background-color: var(--bonta-blue-100);

    &:hover {
        background-color: var(--bonta-blue-80);
    }
}

.p-slider-handle {
    background-color: var(--bonta-blue-100);
}

.p-slider-range {
    background-color: var(--bonta-blue-100);
}